<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{% block head %}
		<title>Static Blog with Flask</title>
	{% endblock head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/syntax.css') }}">
	<!-- Atom feed -->
	<link href="{{ url_for('feed') }}" rel="alternate"
		title="Recent Changes" type="application/atom+xml">
</head>
<body>
	{% block content %}
	{% endblock content %}

	{% block footer %}
	{% endblock footer %}
</body>
</html>